/* icono carrito de compras*/
.cart-icon {
    position: relative;
    display: inline-block;
}

.badge {
    position: absolute;
    top: -2px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 60%;
    padding: 3px 3px;
    font-size: 12px;
}

/*====================================================*/



